<h2>Server Loading Estimate: Out of Order Apache2 Log Events</h2>

<p>As logging is controlled using Syslog, log events arrive using UDP port 514 and may arrive out of order (ie. some log events may find themselves being logged at a latter time than they were sent at). As these out of order logging events can be indicators of a loaded server or network latency, we here calculate these events as follows:
	<ul>
		<% @data.map { |d| d[:log_name] }.uniq.each do |log_name| %>
			<li><i><%= log_name %></i> delayed log events are:
				<%= render :partial => 'data', :locals => { :data => ApacheAccess.where(["id in (?)", @data.select { |d| d[:log_name] == log_name }.map { |d| d[:id] }]).all } %>
			</li>
		<% end %>
	</ul>
</p>

<h3>Appendix</h3>

<%= link_to "Data Set (CSV)", "/research/loading/out_of_order.csv" %>