<% content_for :title do %>
	Server Loading Estimate: Number of Requests
<% end %>

<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |t, c| { :observed_at => t, :num_requests => c } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).map { |d| { :observed_at => d[:observed_at].to_f, :num_requests => d[:num_requests] } }.to_json %>;
	</script>
<% end %>
	
<% content_for :note do %>
	<h3>plot of event creation time (seconds from epoch) vs number of requests</h3>
	
	<script>
		var _mean = mean(raw_data.map(function(d) { return d.num_requests; }));
		var stddev = standard_deviation(raw_data.map(function(d) { return d.num_requests; }));
		var max_load = raw_data.map(function(d) { return d.num_requests; }).inject(0, function(m, n) { return Math.max(m, n); });
		var upper_time_bound = _mean+2*stddev;
		var upper_bound_color = "#FF2D26";
		document.observe("dom:loaded", function() {
			$$(".upper_bound_color").each(function(e) { e.setStyle({color:upper_bound_color}); });
		});
	</script>
	
	<script type="text/javascript+protovis">	
		var data = raw_data.map(function(d) { var h = {}; h['x'] = d['observed_at']; h['y'] = d['num_requests']; return h; });
		
		<%= render :partial => '/graph/area.js' %>
	
		vis.add(pv.Rule)
			.bottom(y(upper_time_bound))
			.strokeStyle(upper_bound_color);
	
		xlabel.text(function(d) pv.Format.date("%d/%b/%y %H:%M:%S")(new Date(d*1000)));
		ylabel.text(function(d) d);
	
		vis.render();
	</script>
	<p>
		<b>Notes:</b>
		<ul>
			<li>Here our mean is <script>document.write(_mean.toFixed(1));</script> requests (standard deviation is <script>document.write(stddev.toFixed(1));</script> requests).</li>
			<li>Thus, if the number of requests handled is greater than <script>document.write(upper_time_bound.toFixed(1));</script> then this indicates when the server is being loaded. This cut off point has been plotted as a <font class="upper_bound_color">red</font> line on the above graph.</li>
			<li>The following features of this graph are worth noting (as they are indicators that are further consistent with server loading):
				<ul>
					<li>the largest peak is <script>document.write((max_load/upper_time_bound).toFixed(1));</script> times larger than our expected upper time bound (ie. the <font class="upper_bound_color">red</font> line)</li>
					<li>the following log events indicate when the server appears to be experiencing higher than expected loading:
						<%= render :partial => 'data', :locals => { :data => ApacheAccess.tagged_with(["loading", "speed"]).order(:observed_at).all } %>
					</li>
				</ul>
			</li>
		</ul>
	</p>
<% end %>
