<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |m| { :request_method => m.apache_access.http_method, :request_name => m.apache_access.http_url, :request_size => m.apache_access.bytes, :request_status => m.apache_access.result, :archive_name => m.archive_content.name, :archive_size => m.archive_content.size, :partial_match => m.tag_list.member?("basename") } }
	end
-%>
	<script>
		var raw_partial_data = <%=raw (map_to_hash @data).select { |d| d[:partial_match] }.to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<h2>Partial Matching (on basename): plugin file and URL file (file names) vs. file size (bytes)</h2>
	
	<script type="text/javascript+protovis">
		var labels = raw_partial_data.map(function(d) d.request_method+" "+d.request_name+": "+d.request_status+" =?= "+d.archive_name);
		var data = raw_partial_data.map(function(d) [d.archive_size, d.request_size]);
		
		<%= render :partial => '/graph/bar.js' %>
	
		vis.render();
	</script>
<% end %>