<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |m| { :request_method => m.apache_access.http_method, :request_name => m.apache_access.http_url, :request_size => m.apache_access.bytes, :request_status => m.apache_access.result, :archive_name => m.archive_content.name, :archive_size => m.archive_content.size, :partial_match => m.tag_list.member?("basename") } }
	end
-%>
	<script>
		var raw_full_data = <%=raw (map_to_hash @data).select { |d| not d[:partial_match] }.to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<h2>Full Matching (on URL path): plugin file and URL file (file names) vs. file size (bytes)</h2>
	
	<center>
	<script type="text/javascript+protovis">
		var labels = raw_full_data.map(function(d) d.request_method+" "+d.request_name+": "+d.request_status);
		var data = raw_full_data.map(function(d) [d.archive_size, d.request_size]);
		
		<%= render :partial => '/graph/bar.js' %>
	
		vis.render();
	</script>
	</center>
	
	<p><b>Notes and Observations:</b>
		<ul>
			<li>as we are attempting to show that version 1.5.1 of Google Syntax Highlighter <b>is</b> a match, we use a (stronger) full matching algorithm here (matching is performed on the full URL path)</li>
			<li>304 status replies indicate that the HTTP request has not been modified - which is consistent with a request body size of 0B (ie. only header data is used to complete the request)</li>
		</ul>
	</p>
<% end %>
