<% content_for :note do %>
	<h3>Timeline</h3>

	<% timeline1 = ApplicationHelper::Timeline.new %>

	<% ["admin::backup", "admin::configuring", "admin::file-distribution", "admin::login", "admin::monitoring", "admin::package-management", "admin::user-management"].each { |t| timeline1.add_event(t, Sudo.tagged_with(t)) } %>
	<% ["network::client", "network::firewall", "network::scanner", "network::server"].each { |t| timeline1.add_event(t, Sudo.tagged_with(t)) } %>
	<% ["security::authentication", "security::cryptography", "security::firewall", "security::integrity"].each { |t| timeline1.add_event(t, Sudo.tagged_with(t)) } %>

	<%= render :partial => '/graph/timeline', :object => timeline1 %>
<% end %>
