<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |d| { :pid => d.pid, :observed_at => d.observed_at.to_f, :thread_index => (d.thread_index || 0), :counter => d.counter } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<script type="text/javascript+protovis">
		var data = raw_data.map(function(d) { h = {}; h['x'] = d.observed_at; h['y'] = d.pid; h['z'] = d.thread_index; return h; });

		<%= render :partial => '/graph/scatter.js' %>

		xlabel.text(function(d) pv.Format.date("%d/%b/%y %H:%M:%S")(new Date(d*1000)));

		vis.render();
	</script>
	<p>
	<b>Notes and Observations:</b>
	<ul>
	<li>dot's coloured using the scoreboard thread index and a (linear) blue-red colour scale</li>
	<li>lines represent periods of stability (ie. uptime) for the Apache2 process?</li>
	<li>curved beginnings to our straight lines are consistent with a (rapid?) sequential assignment of process IDs (ie. for the worker threads, as Apache2 starts up)?</li>
	</ul>
	</p>
<% end %>