<% content_for :title do %>
	News Feed Data Analysis
<% end %>

<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map_with_index { |d, i| { :position => i, :id => d.id, :observed_at => d.observed_at.to_f, :ip_address => d.ip_address.value, :request_count => d.ip_address.apache_accesses.count + d.ip_address.apache_errors.count, :asn => d.ip_address.asn || "", :cc => d.ip_address.cc || "", :blacklists => d.ip_address.blacklists.map { |b| { :site => b.site, :status => b.status } } } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<p>Unit testing demonstrates that news feeds can be uniquely identified using either: the user agent string <i>Apple-PubSub</i>; or the URL <i>/feed/</i>.</p>
	
	<%= render :partial => 'ip_address', :locals => { :data => @data.map { |d| d.ip_address } } %>
	
	<h2>Graphs</h2>
	
	<h3>plot of event order (array position) vs log event timestamp (seconds)</h3>
	
	<script type="text/javascript+protovis">	
		var data = raw_data.map(function(d) { var h = {}; h['y'] = d['position']; h['x'] = d['observed_at']; return h; });
		
		<%= render :partial => '/graph/area.js' %>
		
		xlabel.text(function(d) pv.Format.date("%d/%b/%y %H:%M:%S")(new Date(d*1000)));
	
		vis.render();
	</script>
	<p>
		<b>Notes:</b>
		<ul>
			<li>Lack of data points do not allow much to be concluded here.</li>
		</ul>
	</p>
<% end %>
