<% content_for :title do %>
	Scanning Analysis: Port 6667
<% end %>

<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |d| { :ip_address => d.ip_address.value, :processing_time => d.processing_time, :request_count => d.ip_address.apache_accesses.count + d.ip_address.apache_errors.count, :asn => d.ip_address.asn || "", :cc => d.ip_address.cc || "", :blacklists => d.ip_address.blacklists.map { |b| { :site => b.site, :status => b.status } } } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<p>According to a <%= link_to "SANS", "http://isc.sans.edu/port.html?port=6667" %> report, port 6667 is used for IRC and is associated with a number of malware instances.</p>
	
	<p>All these scans return 301 redirect responses (the data requested has been assigned a new URI and the change is permanent).</p>
	
	<%= render :partial => 'ip_address', :locals => { :data => @data } %>
<% end %>