<% content_for :title do %>
	Scanning Analysis: Web Proxy
<% end %>

<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |d| { :ip_address => d.ip_address.value, :processing_time => d.processing_time, :request_count => d.ip_address.apache_accesses.count + d.ip_address.apache_errors.count, :asn => d.ip_address.asn || "", :cc => d.ip_address.cc || "", :blacklists => d.ip_address.blacklists.map { |b| { :site => b.site, :status => b.status } } } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<p>All these scan attempts result in 400 (the request had bad syntax or was inherently impossible to be satisfied) or 404 (the server has not found anything matching the URI given) error responses from the web server - ie. these scans failed.</p>
	
	<h3>Wantsfly</h3>
	
	<p>The Wantsfly URLs contain the hash value FABB83E72D135F1018046CC4005088B36F8D0BEDCEA7. This hash value is probably being used as a session value by the proxy scanner. Googling suggests that this is Chinese proxy scanner.</p>
	
	<h3>Proxyfire</h3>
	
	<p>Using the requested URL, we have that the web site <%= link_to "Proxyfire", "http://www.proxyfire.net" %> appears to be a forum listing various proxies and discussing proxy related issues.</p>
	
	<%= render :partial => 'ip_address', :locals => { :data => @data.map { |d| d.ip_address } } %>
<% end %>