// INPUT: data = [ { 'label': <timeline label>, 'timeline': [ { 'begin': <event start (double expressing seconds)>, 'end': <event end (double expressing microseconds)>, 'event': string }, ... ] }]
// OPTIONAL INPUT: events = string

var pb = 4, pt = 6, p = pb+pt, h = 3, c = p+h;
var width = 1100;
var height = data.length * c + 10;
var cursor = 20;
var delta = 1;

// FIXME: work out why, with multiple timeline panels, last panel needs to init. first in order to see cursors
// FIXME: need to put bounds checks in place for cursors!
var begin = function(ds) { return ds.timeline.map(function (d) { return d.begin; }).min(); }
var end = function(ds) { return ds.timeline.map(function (d) { return d.end; }).max(); }
// TODO: modify scale so that area under cursor is magnified
// TODO: add in JS code so that cursor highlighted log events can be displayed
var start = data.map(function(ds) { return begin(ds); }).min();
var finish = data.map(function(ds) { return end(ds); }).max();
var dates = pv.Scale.linear(start, finish).range(0, width);

function get_logged_events(position) {
    return data.map(function(ds) { return ds.timeline; }).map(function(ds) { return ds.select(function(d) { return (d.begin-delta <= position && position <= d.end+delta); }).map(function(d) { return "<div class='event'>"+d.event+"</div>"; }).join("\n"); } ).join("\n");
}

var vis = new pv.Panel()
    .def("i", 0)
    .def("log", events)
    .width(width)
    .height(height)
    .margin(20)
    .left(50)
    .right(400)
    .events("all")
    .event("mousemove", function() { var result = this.i(this.mouse().x); $(this.log()).update(get_logged_events(dates.invert(this.i()))); return result; });

vis.add(pv.Rule)
    .data(dates.ticks())
    .strokeStyle("#eee")
    .left(dates)
    .anchor("bottom").add(pv.Label)
        .text(function(d) pv.Format.date("%d/%b/%y %H:%M:%S")(new Date(d*1000)));
            
data.forEach(function(ds) {
    var line = vis.add(pv.Bar)
        .data(ds.timeline)
        .left(dates(begin(ds)))
        .width(dates(end(ds)) - dates(begin(ds)))
        .def("di", data.indexOf(ds))
        .top(function() this.di() * c + p - 2)
        .height(h)
        .strokeStyle("#c4d8ff");

    ds.timeline.forEach(function(d) {
        var line = vis.add(pv.Bar)
            .left(dates(d.begin))
            .width(dates(d.end) - dates(d.begin))
            .def("di", data.indexOf(ds))
            .top(function() this.di() * c + p - 2)
            .height(h)
            .strokeStyle("#142f97");        
    });
        
    var label = vis.add(pv.Label)
        .left(dates(begin(ds)))
        .def("di", data.indexOf(ds))
        .top(function() this.di() * c + p)
        .textAlign("left")
        .textBaseline("bottom")
        .text(ds.label);
});
  

//vis.add(pv.Rule)
//    .left(function() this.parent.i()-cursor)
//    .strokeStyle("#BCC2BA")
//    .visible(function() vis.i() > 0);
//vis.add(pv.Rule)
//    .left(function() this.parent.i()+cursor)
//    .strokeStyle("#BCC2BA")
//    .visible(function() vis.i() > 0);
vis.add(pv.Rule)
    .left(function() this.parent.i())
    .strokeStyle("red")
    .visible(function() vis.i() > 0)
    .anchor("top").add(pv.Label)
        .textAlign("center")
        .textStyle("red")
        .text(function() pv.Format.date("%d/%b/%y %H:%M:%S")(new Date(dates.invert(this.parent.i())*1000)));
