<% content_for :title do %>
	Apache Request IP Address Analysis
<% end %>

<% content_for :data do %>
<%
	def map_to_hash(data)
	  data.map { |ip_address| { :ip_address => ip_address.value, :request_count => ip_address.apache_accesses.count + ip_address.apache_errors.count, :asn => ip_address.asn || "", :cc => ip_address.cc || "", :blacklists => ip_address.blacklists.map { |b| { :site => b.site, :status => b.status } } } }
	end
-%>
	<script>
		var raw_data = <%=raw (map_to_hash @data).to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<%= render :partial => 'ip_address', :locals => { :data => @data } %>
	
	<h3>Conclusions</h3>
	
	<p>TODO: implement tagging of apache events to add in ASN numbers, country codes and identified subnets.</p>
	<p>TODO: add integration tests to verify that this tagging data is correctly performed.</p>
	
<% end %>
