<h2>System Maintenance: Event Timeline</h2>

<p>Here we use our subversion tagged events as a measure of legitimate administrator activity - we do this since we work on the basis that only a legitimate administrator user would attempt to version control their configuration directories!</p>

<p>By cross correlating these subversion events against other event timelines, we can estimate illegitimate activity.</p>

<% data = [] %>
<% data << { :label => "subversion events", :timeline => @data.tagged_with("subversion").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "maintenance events", :timeline => @data.tagged_with("maintenance").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "install/build events", :timeline => @data.tagged_with("install").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "apache2 events", :timeline => @data.tagged_with("apache").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "firewall events", :timeline => @data.tagged_with("firewall").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "botnet events", :timeline => @data.tagged_with("botnet").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>
<% data << { :label => "suspicious user events", :timeline => @data.tagged_with(["odd", "user"]).order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f } } } %>

<script type="text/javascript+protovis">
	var data = <%=raw data.to_json %>;

	<%= render :partial => '/graph/timeline.js' %>

	vis.render();
</script>

<h3>Appendix</h3>

<%= link_to "Data Set (CSV)", "/research/maintenance.csv" %>